body {
	font-size: 28upx;
	color: #3d3d3d;
	background-color: #FFFFFF;
	overflow: hidden;
}
.strong {
	font-weight: bold;
}

.btn:active {
	opacity: .5;
}

.text-center {
	text-align: center;
}
.text-right{
	text-align: right;
}

.color-theme {
	color: #1296db;
}

.color-note {
	color: #dd524d
}

.bg-theme {
	background-color: #1296db;
}

.color-light-dark {
	color: #777777;
}

.color-default {
	color: #3D3D3D;
}

.flex-box {
	display: flex;
}

.flex-box.row {
	flex-direction: row;
}

.flex-box.column {
	flex-direction: column;
}

.flex-box.align-center {
	align-items: center;
}

.flex-1 {
	flex: 1;
}
.flex-between{
	justify-content: space-between;
}

.margin-horizontal {
	margin-left: 32upx;
	margin-right: 32upx;
}
.margin-vertical {
	margin-top: 32upx;
	margin-bottom: 32upx;
}

.pull-right {
	float: right;
}

.col-warning {
	color: #f0ad4e;
}

.col-success {
	color: #4cd964;
}

.max-two-lines {
	overflow: hidden;
	text-overflow: ellipsis;
	display: -webkit-box;
	-webkit-line-clamp: 2;
	overflow: hidden;
	/*! autoprefixer: off */
	-webkit-box-orient: vertical;
}
